In [1]:
import pandas as pd
df = pd.read_excel('dataupdate.xlsx','weather',index_col="Day")
df.head()
#df.head(amount)frist

            Temperature  WindSpeed    Event
Day
2020-12-01           30          9  แดดร้อน
2020-12-02           28          8   เมฆมาก
2020-12-03           27          4     ฝนตก
2020-12-04           19          3  แดดร้อน
2020-12-05           20          5   เมฆมาก

In [2]:
df.tail()
#df.tail(amount)last

            Temperature  WindSpeed   Event
Day
2020-12-26           25          8    ฝนตก
2020-12-27           28          9  เมฆมาก
2020-12-28           30          2  เมฆมาก
2020-12-29           31          1    ฝนตก
2020-12-30           35          2    ฝนตก

In [3]:
df.sample()
#df.sample(amount)random

            Temperature  WindSpeed   Event
Day
2020-12-27           28          9  เมฆมาก

In [4]:
df.describe()
#show stat

       Temperature  WindSpeed
count    30.000000  30.000000
mean     27.433333   5.066667
std       5.237026   2.288402
min      17.000000   1.000000
25%      25.000000   4.000000
50%      28.000000   5.000000
75%      30.000000   6.750000
max      38.000000   9.000000

In [5]:
df.shape

(30, 3)

In [6]:
df.columns

Index(['Temperature', 'WindSpeed', 'Event'], dtype='object')

In [7]:
df.values

array([[30, 9, 'แดดร้อน'],
       [28, 8, 'เมฆมาก'],
       [27, 4, 'ฝนตก'],
       [19, 3, 'แดดร้อน'],
       [20, 5, 'เมฆมาก'],
       [25, 6, 'ฝนตก'],
       [36, 4, 'ฝนตก'],
       [28, 6, 'ฝนตก'],
       [17, 5, 'เมฆมาก'],
       [24, 6, 'แดดร้อน'],
       [26, 4, 'ฝนตก'],
       [27, 9, 'แดดร้อน'],
       [30, 2, 'แดดร้อน'],
       [31, 5, 'เมฆมาก'],
       [28, 4, 'แดดร้อน'],
       [27, 7, 'แดดร้อน'],
       [20, 8, 'ฝนตก'],
       [18, 5, 'ฝนตก'],
       [25, 7, 'แดดร้อน'],
       [28, 4, 'เมฆมาก'],
       [25, 5, 'เมฆมาก'],
       [38, 2, 'เมฆมาก'],
       [34, 3, 'ฝนตก'],
       [29, 4, 'ฝนตก'],
       [34, 5, 'แดดร้อน'],
       [25, 8, 'ฝนตก'],
       [28, 9, 'เมฆมาก'],
       [30, 2, 'เมฆมาก'],
       [31, 1, 'ฝนตก'],
       [35, 2, 'ฝนตก']], dtype=object)