In [6]:
import pandas as pd
data = [{'Name':'keyboard','Category':'it','Price':1200},{'Name':'mouse','Category':'it','Price':500},{'Name':'draw','Category':'toy','Price':200}]
data

[{'Name': 'keyboard', 'Category': 'it', 'Price': 1200},
 {'Name': 'mouse', 'Category': 'it', 'Price': 500},
 {'Name': 'draw', 'Category': 'toy', 'Price': 200}]

In [ ]:
df = pd.DataFrame(data)
df

       Name Category  Price
0  keyboard       it   1200
1     mouse       it    500
2      draw      toy    200

In [17]:
ds = df.set_index("Name")
ds

         Category  Price
Name
keyboard       it   1200
mouse          it    500
draw          toy    200

In [ ]:
df.set_index(['Name'],inplace=True)
df

         Category  Price
Name
keyboard       it   1200
mouse          it    500
draw          toy    200