In [34]:
import pandas as pd
df = pd.read_excel('Stock.xlsx',index_col='Name')
df

                             Category  Price  Amount
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900      10
ปากกา                 อุปกรณ์การเรียน    200       5
โคมไฟ                เครื่องใช้ในบ้าน   1200       7
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750       1
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500       0
เสื้อยืดคอกลม                เสื้อผ้า    500       2
กางเกงยีนต์                  เสื้อผ้า    999       8
ตุ๊กตาหมีพูห์                 ของเล่น    950       5
โซฟา                     เฟอร์นิเจอร์   5000       5
จาน                       เครื่องครัว    250       4
ทีวี                  เครื่องใช้ไฟฟ้า  15000       7
ยางลบ                 อุปกรณ์การเรียน     20       5
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500       7
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850       5
รถบังคับ                      ของเล่น    500       6

In [35]:
product = [['phone','it',10000,1],['wire','it',400,2]]
cols = ['Name','Category','Price','Amount']
new_data = pd.DataFrame(data=product,columns=cols)
new_data

    Name Category  Price  Amount
0  phone       it  10000       1
1   wire       it    400       2

In [36]:
new_data.set_index('Name',inplace=True)
new_data

      Category  Price  Amount
Name
phone       it  10000       1
wire        it    400       2

In [37]:
df = pd.concat([df,new_data], ignore_index=True)
df

              Category  Price  Amount
0   อุปกรณ์คอมพิวเตอร์    900      10
1      อุปกรณ์การเรียน    200       5
2     เครื่องใช้ในบ้าน   1200       7
3      เครื่องใช้ไฟฟ้า    750       1
4      เครื่องใช้ไฟฟ้า   3500       0
5             เสื้อผ้า    500       2
6             เสื้อผ้า    999       8
7              ของเล่น    950       5
8         เฟอร์นิเจอร์   5000       5
9          เครื่องครัว    250       4
10     เครื่องใช้ไฟฟ้า  15000       7
11     อุปกรณ์การเรียน     20       5
12  อุปกรณ์คอมพิวเตอร์   2500       7
13  อุปกรณ์คอมพิวเตอร์    850       5
14             ของเล่น    500       6
15                  it  10000       1
16                  it    400       2