In [1]:
import pandas as pd
name = ['keyboard','mouse','draw']
category = ['it','it','toy']
price = [1200,600,200]

ps_name = pd.Series(name)
ps_category = pd.Series(category)
ps_price = pd.Series(price)

fream = {'Name':ps_name,'category':category,'price':ps_price}
df = pd.DataFrame(fream)
df

       Name category  price
0  keyboard       it   1200
1     mouse       it    600
2      draw      toy    200

In [ ]:
df.to_csv('pandas12.csv')
#df.to_csv('location',attribute)
#attribute header,index defailt:True