In [4]:
import pandas as pd 
item1=['keyboard','computer','draw']
item2=['tool','it','toy']
item3=[1200,5000,200]
data = list(zip(item1,item2,item3))
data

[('keyboard', 'tool', 1200), ('computer', 'it', 5000), ('draw', 'toy', 200)]

In [5]:
cols = ["name","group","price"]
df = pd.DataFrame(data,columns=cols)
df

       name group  price
0  keyboard  tool   1200
1  computer    it   5000
2      draw   toy    200