In [2]:
import pandas as pd 
df = pd.read_excel('dataupdate.xlsx','weather')
df

          Day  Temperature  WindSpeed    Event
0  2020-12-01           30          9  แดดร้อน
1  2020-12-02           28          8   เมฆมาก
2  2020-12-03           27          4     ฝนตก
3  2020-12-04           19          3  แดดร้อน
4  2020-12-05           20          5   เมฆมาก
5  2020-12-06           25          6     ฝนตก
6  2020-12-07           36          4     ฝนตก
7  2020-12-08           28          6     ฝนตก
8  2020-12-09           17          5   เมฆมาก
9  2020-12-10           24          6  แดดร้อน
10 2020-12-11           26          4     ฝนตก
11 2020-12-12           27          9  แดดร้อน
12 2020-12-13           30          2  แดดร้อน
13 2020-12-14           31          5   เมฆมาก
14 2020-12-15           28          4  แดดร้อน
15 2020-12-16           27          7  แดดร้อน
16 2020-12-17           20          8     ฝนตก
17 2020-12-18           18          5     ฝนตก
18 2020-12-19           25          7  แดดร้อน
19 2020-12-20           28          4   เมฆมาก
20 2020-12-21           25          5   เมฆมาก
21 2020-12-22           38          2   เมฆมาก
22 2020-12-23           34          3     ฝนตก
23 2020-12-24           29          4     ฝนตก
24 2020-12-25           34          5  แดดร้อน
25 2020-12-26           25          8     ฝนตก
26 2020-12-27           28          9   เมฆมาก
27 2020-12-28           30          2   เมฆมาก
28 2020-12-29           31          1     ฝนตก
29 2020-12-30           35          2     ฝนตก

In [3]:
df.Temperature

0     30
1     28
2     27
3     19
4     20
5     25
6     36
7     28
8     17
9     24
10    26
11    27
12    30
13    31
14    28
15    27
16    20
17    18
18    25
19    28
20    25
21    38
22    34
23    29
24    34
25    25
26    28
27    30
28    31
29    35
Name: Temperature, dtype: int64

In [4]:
df.Temperature[1:6]

1    28
2    27
3    19
4    20
5    25
Name: Temperature, dtype: int64

In [5]:
df[["Temperature","Event"]][1:3]

   Temperature   Event
1           28  เมฆมาก
2           27    ฝนตก

In [8]:
df[["Temperature"]]

    Temperature
0            30
1            28
2            27
3            19
4            20
5            25
6            36
7            28
8            17
9            24
10           26
11           27
12           30
13           31
14           28
15           27
16           20
17           18
18           25
19           28
20           25
21           38
22           34
23           29
24           34
25           25
26           28
27           30
28           31
29           35